# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# ?????WAL ? / ?? / ???? / ??????? ?? git
testpg/
dict/
result/
pg12/
pgdata/
reference/
pg12.zip
pg.log
*.sqlite
*.sql
*.xlsx

# ??? / ??
.idea/
.vscode/
Thumbs.db
.DS_Storepgv*/
pgv*_data/
pgv*.log
vm_*
pgv*.zip
